* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f7f7f7;
  color: #111;
  padding: 20px;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.logo {
  font-weight: bold;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: #111;
}

/* HERO */
.hero {
  max-width: 100%;
  
}

.hero h1 {
  font-size: 100px;
  font-weight: 900;
  margin-bottom: 20px;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.hero p {
  color: #555;
  line-height: 1.6;
  margin-bottom: 15px;
}

.status {
  color: green;
  font-size: 14px;
}

.socials {
  margin-top: 15px;
}

.socials a {
  margin-right: 15px;
  font-size: 14px;
  text-decoration: none;
  color: #333;
}

/* PROJECTS */
.projects {
  margin-top: 60px;
}

.projects h2 {
  margin-bottom: 20px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  background: #ddd;
  padding: 10px;
}

.card img {
  width: 100%;
  display: block;
}

.caption {
  font-size: 12px;
  margin-top: 5px;
  color: #555;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 30px;
    display: flex; 
    justify-content: center; 
    align-items: center;
  }

  .project-grid {
    grid-template-columns: 1fr;
  }
}